<div class="tab description" data-group="primary" data-tab="description">
  <div class="habilidades-list">
    <h3>Habilidades</h3>
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-name">Nome</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Criar Habilidade" data-type="habilidade"><i class="fas fa-plus"></i> Adicionar</a>
        </div>
      </li>
      {{#each habilidades as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name">
            <h4>{{item.name}}</h4>
          </div>
          <div class="item-controls">
            <a class="item-control item-edit" title="Editar Habilidade"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Apagar Habilidade"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="notes-list">
    <h3>Notas</h3>
    <textarea name="system.notes">{{system.notes}}</textarea>
  </div>
</div>