<div class="form-group">
  <label>Custo de Sanidade</label>
  <input type="text" name="system.custo" value="{{system.custo}}" data-dtype="Number"/>
</div>
<div class="form-group">
  <label>Dificuldade</label>
  <input type="text" name="system.dificuldade" value="{{system.dificuldade}}" data-dtype="Number"/>
</div>
<div class="form-group">
  <label>Atributo de Rolagem</label>
  <select name="system.atributo">
    {{selectOptions rollableAttributes selected=system.atributo}}
  </select>
</div>