<div class="form-group">
  <label>Bónus de Defesa</label>
  <input type="text" name="system.armorBonus" value="{{system.armorBonus}}" data-dtype="Number"/>
</div>
<div class="form-group">
  <label>Proteção</label>
  <input type="text" name="system.protecao" value="{{system.protecao}}"/>
</div>
<div class="form-group">
  <label>Custo</label>
  <input type="text" name="system.custo" value="{{system.custo}}" data-dtype="Number"/>
</div>