<form class="{{cssClass}}" autocomplete="off">

  {{> "systems/ine/templates/partials/_actor-header.hbs"}}

  <section class="sheet-body">
    <nav class="sheet-tabs tabs sidebar" data-group="primary">
      <a class="item" data-tab="main">Principal</a>
      <a class="item" data-tab="description">Descrição</a>
    </nav>

    <div class="tab-content main-content">
      {{> "systems/ine/templates/partials/_actor-main-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-description-tab.hbs"}}
    </div>
  </section>
</form>