// ===== Base Styles =====

.ine .window-content {
  color: $color-text-primary;
  font-family: $font-primary;

  background-image:
    linear-gradient(to bottom, rgba(7, 7, 7, 0), rgba(7, 7, 7, 1) 55%),
    url('../../assets/ui/background.png'); 
  
  background-color: $color-background-primary;

  background-size: cover;      // Faz a imagem redimensionar para cobrir toda a área, sem distorcer.
  background-position: center; // Centraliza a imagem no espaço disponível.
}