// ===== Base Styles =====

.ine .window-content {
  color: $color-text-primary;
  font-family: $font-primary;

  background-image:
    linear-gradient(to bottom, rgba(7, 7, 7, 0), rgba(7, 7, 7, 1) 55%),
    url('../../assets/ui/background.png'); 
  background-color: $color-background-primary;
  background-size: cover;      
  background-position: center; 
}

body.game .app img {
  border: none;
}

.sidebar {
  grid-area: sidebar;
  border: none;
}