.chat-message {
  background-image:
    linear-gradient(to bottom, rgba(7, 7, 7, 0.621), rgba(7, 7, 7, 1) 75%),
    url('../../assets/ui/background.png');
  background-color: $color-background-primary;
  background-size: cover;
  background-position: center;
  color: $color-text-primary;
  border: 1px solid $color-background-primary;
  border-radius: 5px;
  padding: 10px;

  & h4 {
    font-family: $font-primary;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.466);
    margin-bottom: 5px;
  }
}

.chat-card.ine {
  background: rgba(7, 7, 7, 0.466);
  border: 1px solid $color-background-primary;
  border-radius: 5px;
  padding: 10px;

  .card-header h3 {
    text-align: center;
    text-transform: capitalize;
    font-family: $font-primary;
    font-size: 1.5em;
    color: $color-text-primary;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .roll-group {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .roll-label {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .roll-formula {
    font-size: 0.9em;
    color: #aaa;
    justify-self: end;
  }

  .roll-total {
    background: rgba(7, 7, 7, 0.611);
    grid-column: span 2;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    border-bottom: 2px solid $color-accent;
    border-radius: 3px;
  }

  .difficulty-text {
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    margin-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 5px;
  }

  .result-text {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 5px;
    padding: 3px;
    border-radius: 3px;

    &.sucesso {
      color: #2ecc71;
    }

    &.falha {
      color: #e74c3c;
    }
  }
}