// ===== Reusable Components =====

// Estilo base para todos os inputs, reutilizável em qualquer ficha.
%input-base {
  background: $color-shadow-inset;
  color: $color-text-primary;
  border: 1px solid transparent;
  border-bottom: 1px solid $color-accent;
  box-shadow: inset 0px 1px 3px $color-shadow-inset;
  border-radius: 3px;
  height: 28px;
  font-size: 1.1em;
}

// Estilo para elementos que podem ser rolados.
.ine .rollable:hover {
  color: $color-accent-hover;
  cursor: pointer;
  text-shadow: 0 0 5px $color-accent-hover;
}