.ine .tabs.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: 100%;

  .item {
    background: $color-shadow-inset;
    border-radius: 3px;
    padding: 10px 5px;
    font-weight: bold;
    color: $color-text-primary;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Add smooth animation */

    &.active {
      background: $color-accent;
      color: #fff;
      border-right: 5px solid lighten($color-accent, 20%);
    }

    &:hover {
      border-color: $color-accent-hover;
      cursor: pointer;
      color: $color-accent-hover;
      transform: rotate(180deg) translateX(-5px); /* Add right displacement */
    }
  }
}