<form class="{{cssClass}}" autocomplete="off">

  {{> "systems/ine/templates/partials/_actor-header.hbs"}}

  <section class="sheet-body">
    <nav class="sheet-tabs tabs sidebar" data-group="primary">
      <a class="item" data-tab="main"><i class="fa-solid fa-sheet-plastic"></i></a>
      <a class="item" data-tab="description"><i class="fa-solid fa-scroll"></i></a>
      <a class="item" data-tab="equipment"><i class="fa-solid fa-box"></i></a>
      <a class="item" data-tab="manifestacao"><i class="fa-solid fa-box"></i></a>

    </nav>

    <div class="tab-content main-content">
      {{> "systems/ine/templates/partials/_actor-main-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-description-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-equipment-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-manifestacao-tab.hbs"}}

    </div>
  </section>
</form>