<form class="{{cssClass}}" autocomplete="off">

  {{> "systems/ine/templates/partials/_actor-header.hbs"}}

  <section class="sheet-body">
    <nav class="sheet-tabs tabs sidebar" data-group="primary">
      <a class="item" data-tab="main" title="Início"><i class="fa-solid fa-sheet-plastic"></i></a>
      <a class="item" data-tab="equipment" title="Inventário"><i class="fa-solid fa-box"></i></a>
      <a class="item" data-tab="manifestacao" title="Manifestações"><i class="fa-solid fa-book-open-reader"></i></a>
      <a class="item" data-tab="description" title="Descrição"><i class="fa-solid fa-scroll"></i></a>
    </nav>

    <div class="tab-content main-content">
      {{> "systems/ine/templates/partials/_actor-main-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-description-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-equipment-tab.hbs"}}

      {{> "systems/ine/templates/partials/_actor-manifestation-tab.hbs"}}

    </div>
  </section>
</form>